In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing Excel-Version 
data = pd.read_excel (r'Gedenktafeln_Mitte_erweitert.xlsx')
data.head()

,id,what,who,Gender,Category,Activity,Context,"Birthday, place",sterbedatum_und_sterbeort,Zipcode,Street,Housenr,Location,District,made,material
0,512,NaN,"Marlene Dietrich; Schauspielerin und Sängerin,...",f,Culture,Dancing_Acting_Directing,NS opponent_resistance,"27.12.1901, Schöneberg","06.05.1992, Paris",10785.0,Eichhornstraße,5 bis 6,"Eichhornstraße Ecke Alte Potsdamer Straße, Mar...",Tiergarten,2000,Metall
1,514,NaN,"Otto Braun; Politiker, preussischer Ministerpr...",m,History,Politics,royal_prussian,"28.01.1872, Königsberg","15.12.1955, Schweiz",10785.0,Potsdamer Straße,35,"Staatsbibliothek, vor dem Otto-Braun-Saal",Tiergarten,NaN,Kupfer
2,4,NaN,"Johannes Popitz; Politiker, Staatssekretär im ...",m,History,Politics,NS opponent_resistance,"02.12.1884, Leipzig","02.02.1945, Plötzensee",10117.0,Am Festungsgraben,1,Zwischen dem 2. und 3. Fenster links,Mitte,1994-07-19 00:00:00,KPM
3,517,NaN,Kurt Tucholsky; Journalist und Schriftsteller,m,Culture,Writing,NovemberRevolution_Weimar,"09.01.1890, Berlin","21.12.1935, Hindas, Schweden",10553.0,Rostocker Straße,32 b,Vorraum zur Bücherei,Moabit,NaN,Bronze
4,6,NaN,Wilhelm Krützfeld; preussischer Polizeibeamter,m,History,Military_Police,NS opponent_resistance,"09.12.1880, Hornsdorf","31.10.1953, Berlin",10178.0,Oranienburger Straße,30,"Synagoge, zwischen 2 Fenstern, rechts der Syna...",Mitte,1995-05-05 00:00:00,Bronze

In [3]:
data.shape

(511, 16)

In [4]:
data.dtypes

id                             int64
what                          object
who                           object
Gender                        object
Category                      object
Activity                      object
Context                       object
Birthday, place               object
sterbedatum_und_sterbeort     object
Zipcode                      float64
Street                        object
Housenr                       object
Location                      object
District                      object
made                          object
material                      object
dtype: object

## Cleaning Step 1: Checking for NaNs and Duplicates

In [5]:
data = data.drop_duplicates()

In [6]:
data.isna().sum()

id                             0
what                         224
who                          178
Gender                         0
Category                       0
Activity                       0
Context                      228
Birthday, place              204
sterbedatum_und_sterbeort    203
Zipcode                        1
Street                         0
Housenr                      110
Location                       3
District                       0
made                         150
material                       1
dtype: int64

## Cleaning Step 2: Dividing the columns with ;

In [1]:
# Dividing 'who' into 'Name' and 'Occupation':

In [8]:
data[['Name','Occupation']] = data['who'].str.split(";",expand=True,)
data['Name']

0       Marlene Dietrich
1             Otto Braun
2        Johannes Popitz
3         Kurt Tucholsky
4      Wilhelm Krützfeld
             ...
506                  NaN
507                  NaN
508                  NaN
509                  NaN
510                  NaN
Name: Name, Length: 511, dtype: object

In [9]:
data.head()

,id,what,who,Gender,Category,Activity,Context,"Birthday, place",sterbedatum_und_sterbeort,Zipcode,Street,Housenr,Location,District,made,material,Name,Occupation
0,512,NaN,"Marlene Dietrich; Schauspielerin und Sängerin,...",f,Culture,Dancing_Acting_Directing,NS opponent_resistance,"27.12.1901, Schöneberg","06.05.1992, Paris",10785.0,Eichhornstraße,5 bis 6,"Eichhornstraße Ecke Alte Potsdamer Straße, Mar...",Tiergarten,2000,Metall,Marlene Dietrich,"Schauspielerin und Sängerin, NS-Gegnerin"
1,514,NaN,"Otto Braun; Politiker, preussischer Ministerpr...",m,History,Politics,royal_prussian,"28.01.1872, Königsberg","15.12.1955, Schweiz",10785.0,Potsdamer Straße,35,"Staatsbibliothek, vor dem Otto-Braun-Saal",Tiergarten,NaN,Kupfer,Otto Braun,"Politiker, preussischer Ministerpräsident"
2,4,NaN,"Johannes Popitz; Politiker, Staatssekretär im ...",m,History,Politics,NS opponent_resistance,"02.12.1884, Leipzig","02.02.1945, Plötzensee",10117.0,Am Festungsgraben,1,Zwischen dem 2. und 3. Fenster links,Mitte,1994-07-19 00:00:00,KPM,Johannes Popitz,"Politiker, Staatssekretär im Reichsfinanzmini..."
3,517,NaN,Kurt Tucholsky; Journalist und Schriftsteller,m,Culture,Writing,NovemberRevolution_Weimar,"09.01.1890, Berlin","21.12.1935, Hindas, Schweden",10553.0,Rostocker Straße,32 b,Vorraum zur Bücherei,Moabit,NaN,Bronze,Kurt Tucholsky,Journalist und Schriftsteller
4,6,NaN,Wilhelm Krützfeld; preussischer Polizeibeamter,m,History,Military_Police,NS opponent_resistance,"09.12.1880, Hornsdorf","31.10.1953, Berlin",10178.0,Oranienburger Straße,30,"Synagoge, zwischen 2 Fenstern, rechts der Syna...",Mitte,1995-05-05 00:00:00,Bronze,Wilhelm Krützfeld,preussischer Polizeibeamter

In [10]:
data['Name'].value_counts(dropna=False)

NaN                                        178
Günter Litfin                                4
Robert Koch                                  4
Alexander von Humboldt                       3
Albert Einstein                              3
                                          ...
Ernst Kaeber                                 1
Walter Kollo und Willi Kollo                 1
Rahel Varnhagen von Ense                     1
Herrmann Ludwig Ferdinand von Helmholtz      1
Gottfried Wilhelm Leibniz                    1
Name: Name, Length: 301, dtype: int64

In [11]:
# Dividing 'Birthday, place' into 'birthday' and 'birthplace':

In [12]:
data [['birthday','birthplace']] = data['Birthday, place'].str.split(",", 1, expand=True,)

In [13]:
data.head()

,id,what,who,Gender,Category,Activity,Context,"Birthday, place",sterbedatum_und_sterbeort,Zipcode,Street,Housenr,Location,District,made,material,Name,Occupation,birthday,birthplace
0,512,NaN,"Marlene Dietrich; Schauspielerin und Sängerin,...",f,Culture,Dancing_Acting_Directing,NS opponent_resistance,"27.12.1901, Schöneberg","06.05.1992, Paris",10785.0,Eichhornstraße,5 bis 6,"Eichhornstraße Ecke Alte Potsdamer Straße, Mar...",Tiergarten,2000,Metall,Marlene Dietrich,"Schauspielerin und Sängerin, NS-Gegnerin",27.12.1901,Schöneberg
1,514,NaN,"Otto Braun; Politiker, preussischer Ministerpr...",m,History,Politics,royal_prussian,"28.01.1872, Königsberg","15.12.1955, Schweiz",10785.0,Potsdamer Straße,35,"Staatsbibliothek, vor dem Otto-Braun-Saal",Tiergarten,NaN,Kupfer,Otto Braun,"Politiker, preussischer Ministerpräsident",28.01.1872,Königsberg
2,4,NaN,"Johannes Popitz; Politiker, Staatssekretär im ...",m,History,Politics,NS opponent_resistance,"02.12.1884, Leipzig","02.02.1945, Plötzensee",10117.0,Am Festungsgraben,1,Zwischen dem 2. und 3. Fenster links,Mitte,1994-07-19 00:00:00,KPM,Johannes Popitz,"Politiker, Staatssekretär im Reichsfinanzmini...",02.12.1884,Leipzig
3,517,NaN,Kurt Tucholsky; Journalist und Schriftsteller,m,Culture,Writing,NovemberRevolution_Weimar,"09.01.1890, Berlin","21.12.1935, Hindas, Schweden",10553.0,Rostocker Straße,32 b,Vorraum zur Bücherei,Moabit,NaN,Bronze,Kurt Tucholsky,Journalist und Schriftsteller,09.01.1890,Berlin
4,6,NaN,Wilhelm Krützfeld; preussischer Polizeibeamter,m,History,Military_Police,NS opponent_resistance,"09.12.1880, Hornsdorf","31.10.1953, Berlin",10178.0,Oranienburger Straße,30,"Synagoge, zwischen 2 Fenstern, rechts der Syna...",Mitte,1995-05-05 00:00:00,Bronze,Wilhelm Krützfeld,preussischer Polizeibeamter,09.12.1880,Hornsdorf

In [14]:
# Dividing 'sterbedatum_und_sterbeort' into 'deathday' and 'deathplace':

In [15]:
data[['deathday','deathplace']] = data['sterbedatum_und_sterbeort'].str.split(",", 1, expand=True,)

In [16]:
data.head()

,id,what,who,Gender,Category,Activity,Context,"Birthday, place",sterbedatum_und_sterbeort,Zipcode,...,Location,District,made,material,Name,Occupation,birthday,birthplace,deathday,deathplace
0,512,NaN,"Marlene Dietrich; Schauspielerin und Sängerin,...",f,Culture,Dancing_Acting_Directing,NS opponent_resistance,"27.12.1901, Schöneberg","06.05.1992, Paris",10785.0,...,"Eichhornstraße Ecke Alte Potsdamer Straße, Mar...",Tiergarten,2000,Metall,Marlene Dietrich,"Schauspielerin und Sängerin, NS-Gegnerin",27.12.1901,Schöneberg,06.05.1992,Paris
1,514,NaN,"Otto Braun; Politiker, preussischer Ministerpr...",m,History,Politics,royal_prussian,"28.01.1872, Königsberg","15.12.1955, Schweiz",10785.0,...,"Staatsbibliothek, vor dem Otto-Braun-Saal",Tiergarten,NaN,Kupfer,Otto Braun,"Politiker, preussischer Ministerpräsident",28.01.1872,Königsberg,15.12.1955,Schweiz
2,4,NaN,"Johannes Popitz; Politiker, Staatssekretär im ...",m,History,Politics,NS opponent_resistance,"02.12.1884, Leipzig","02.02.1945, Plötzensee",10117.0,...,Zwischen dem 2. und 3. Fenster links,Mitte,1994-07-19 00:00:00,KPM,Johannes Popitz,"Politiker, Staatssekretär im Reichsfinanzmini...",02.12.1884,Leipzig,02.02.1945,Plötzensee
3,517,NaN,Kurt Tucholsky; Journalist und Schriftsteller,m,Culture,Writing,NovemberRevolution_Weimar,"09.01.1890, Berlin","21.12.1935, Hindas, Schweden",10553.0,...,Vorraum zur Bücherei,Moabit,NaN,Bronze,Kurt Tucholsky,Journalist und Schriftsteller,09.01.1890,Berlin,21.12.1935,"Hindas, Schweden"
4,6,NaN,Wilhelm Krützfeld; preussischer Polizeibeamter,m,History,Military_Police,NS opponent_resistance,"09.12.1880, Hornsdorf","31.10.1953, Berlin",10178.0,...,"Synagoge, zwischen 2 Fenstern, rechts der Syna...",Mitte,1995-05-05 00:00:00,Bronze,Wilhelm Krützfeld,preussischer Polizeibeamter,09.12.1880,Hornsdorf,31.10.1953,Berlin

In [17]:
# Dropping columns who are not needed anymore (Round 1)

In [18]:
data = data.drop(['Birthday, place','sterbedatum_und_sterbeort','who'],axis=1)

In [19]:
data.head()

,id,what,Gender,Category,Activity,Context,Zipcode,Street,Housenr,Location,District,made,material,Name,Occupation,birthday,birthplace,deathday,deathplace
0,512,NaN,f,Culture,Dancing_Acting_Directing,NS opponent_resistance,10785.0,Eichhornstraße,5 bis 6,"Eichhornstraße Ecke Alte Potsdamer Straße, Mar...",Tiergarten,2000,Metall,Marlene Dietrich,"Schauspielerin und Sängerin, NS-Gegnerin",27.12.1901,Schöneberg,06.05.1992,Paris
1,514,NaN,m,History,Politics,royal_prussian,10785.0,Potsdamer Straße,35,"Staatsbibliothek, vor dem Otto-Braun-Saal",Tiergarten,NaN,Kupfer,Otto Braun,"Politiker, preussischer Ministerpräsident",28.01.1872,Königsberg,15.12.1955,Schweiz
2,4,NaN,m,History,Politics,NS opponent_resistance,10117.0,Am Festungsgraben,1,Zwischen dem 2. und 3. Fenster links,Mitte,1994-07-19 00:00:00,KPM,Johannes Popitz,"Politiker, Staatssekretär im Reichsfinanzmini...",02.12.1884,Leipzig,02.02.1945,Plötzensee
3,517,NaN,m,Culture,Writing,NovemberRevolution_Weimar,10553.0,Rostocker Straße,32 b,Vorraum zur Bücherei,Moabit,NaN,Bronze,Kurt Tucholsky,Journalist und Schriftsteller,09.01.1890,Berlin,21.12.1935,"Hindas, Schweden"
4,6,NaN,m,History,Military_Police,NS opponent_resistance,10178.0,Oranienburger Straße,30,"Synagoge, zwischen 2 Fenstern, rechts der Syna...",Mitte,1995-05-05 00:00:00,Bronze,Wilhelm Krützfeld,preussischer Polizeibeamter,09.12.1880,Hornsdorf,31.10.1953,Berlin

## Cleaning Step 3: dealing with date_time (year) in birthday, deathday and made

In [20]:
# birthday:

In [21]:
data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')

C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '27.12.1901' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '28.01.1872' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '26.07.1868' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '23.05.1879' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '26.04.1864' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '30.05.1901' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '26.10.1757' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '15.12.1817' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '21.11.1710' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '17.05.1867' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '24.11.1785' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '14.02.1834' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '13.12.1797' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '23.09.1791' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '26.02.1738' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '20.05.1754' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '15.09.1756' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '16.11.1894' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '14.04.1868' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '23.06.1804' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '14.09.1769' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '30.12.1819' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '20.05.1804' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '15.07.1815' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '25.10.1904' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '26.04.1880' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '13.10.1898' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '25.02.1725' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '19.04.1837' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '15.02.1860' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '16.02.1890' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '22.02.1853' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '16.04.1886' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '23.07.1796' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '20.11.1660' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '24.02.1799' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '17.09.1893' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '13.08.1871' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '28.09.1910' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '29.09.1863' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '21.07.1858' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '30.08.1841' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '18.04.1882' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '17.09.1885' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '24.05.1810' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '15.10.1882' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '18.05.1876' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '27.12.1904' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '21.06.1897' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '19.06.1861' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '25.11.1859' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '30.03.1797' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '17.10.1768' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '23.10.1866' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '28.01.1878' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '19.05.1771' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '20.05.1828' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '31.08.1821' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '18.03.1733' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '16.05.1887' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '13.11.1892' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '22.05.1865' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '28.11.1912' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '16.02.1827' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '28.03.1858' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '31.05.1824' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '19.12.1907' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '22.08.1860' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '29.11.1940' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '16.04.1883' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\3495308380.py:1: UserWarning: Parsing '30.11.1835' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')

In [22]:
data['birthday'].head()

0   1901-12-27
1   1872-01-28
2   1884-02-12
3   1890-09-01
4   1880-09-12
Name: birthday, dtype: datetime64[ns]

In [23]:
data['Birthyear'] = data['birthday'].dt.year

In [24]:
# made:

In [25]:
data['made'] = pd.to_datetime(data['made'], errors='coerce')

C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\2044573153.py:1: UserWarning: Parsing '16 06.1989' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['made'] = pd.to_datetime(data['made'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\2044573153.py:1: UserWarning: Parsing '17.04.1871' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['made'] = pd.to_datetime(data['made'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\2044573153.py:1: UserWarning: Parsing '30.06.1865' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['made'] = pd.to_datetime(data['made'], errors='coerce')

In [26]:
data['made'] = data['made'].dt.year

In [27]:
# deathday:

In [28]:
data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')

C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '15.12.1955' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '21.12.1935' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '31.10.1953' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '27.10.1871' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '23.10.1944' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '16.12.1942' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '17.03.1929' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '22.03.1767' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '29.06.1831' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '17.04.1944' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '26.11.1886' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '23.03.1947' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '25.10.1868' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '25.08.1911' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '17.02.1856' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '15.05.1832' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '26.08.1813' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '13.04.1833' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '26.06.1793' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '13.07.1976' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '13.03.1883' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '13.05.1943' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '27.02.1940' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '14.08.1956' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '17.06.1873' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '22.12.1947' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '27.05.1910' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '20.09.1898' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '19.09.1859' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '21.08.1944' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '13.08.1942' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '20.08.1952' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '16.01.1935' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '18.03.1953' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '26.08.1801' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '22.04.1978' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '30.03.1961' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '21.05.1942' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '18.08.1944' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '25.05.1741' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '15.01.1967' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '15.01.1919' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '23.01.1721' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '13.12.1944' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '31.08.1864' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '19.04.1967' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '20.01.1859' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '26.08.1942' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '17.07.1925' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '17.10.1932' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '26.08.1936' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '17.03.1970' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '19.08.1940' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '20.03.1931' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '20.10.1989' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '30.12.1896' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '31.05.1945' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '27.12.1936' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '14.12.1882' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '14.09.1828' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '28.01.1879' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '15.08.1938' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '30.09.1940' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '20.07.1870' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '29.04.1972' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '20.11.1967' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '19.07.1992' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '31.10.1943' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '15.03.1938' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '13.02.2001' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')
C:\Users\Nadine Kleine\AppData\Local\Temp\ipykernel_86884\1535614348.py:1: UserWarning: Parsing '27.12.1889' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['deathday'] = pd.to_datetime(data['deathday'], errors='coerce')

In [29]:
data['deathyear'] = data['deathday'].dt.year

In [30]:
data.head()

,id,what,Gender,Category,Activity,Context,Zipcode,Street,Housenr,Location,...,made,material,Name,Occupation,birthday,birthplace,deathday,deathplace,Birthyear,deathyear
0,512,NaN,f,Culture,Dancing_Acting_Directing,NS opponent_resistance,10785.0,Eichhornstraße,5 bis 6,"Eichhornstraße Ecke Alte Potsdamer Straße, Mar...",...,NaN,Metall,Marlene Dietrich,"Schauspielerin und Sängerin, NS-Gegnerin",1901-12-27,Schöneberg,1992-06-05,Paris,1901.0,1992.0
1,514,NaN,m,History,Politics,royal_prussian,10785.0,Potsdamer Straße,35,"Staatsbibliothek, vor dem Otto-Braun-Saal",...,NaN,Kupfer,Otto Braun,"Politiker, preussischer Ministerpräsident",1872-01-28,Königsberg,1955-12-15,Schweiz,1872.0,1955.0
2,4,NaN,m,History,Politics,NS opponent_resistance,10117.0,Am Festungsgraben,1,Zwischen dem 2. und 3. Fenster links,...,1994.0,KPM,Johannes Popitz,"Politiker, Staatssekretär im Reichsfinanzmini...",1884-02-12,Leipzig,1945-02-02,Plötzensee,1884.0,1945.0
3,517,NaN,m,Culture,Writing,NovemberRevolution_Weimar,10553.0,Rostocker Straße,32 b,Vorraum zur Bücherei,...,NaN,Bronze,Kurt Tucholsky,Journalist und Schriftsteller,1890-09-01,Berlin,1935-12-21,"Hindas, Schweden",1890.0,1935.0
4,6,NaN,m,History,Military_Police,NS opponent_resistance,10178.0,Oranienburger Straße,30,"Synagoge, zwischen 2 Fenstern, rechts der Syna...",...,1995.0,Bronze,Wilhelm Krützfeld,preussischer Polizeibeamter,1880-09-12,Hornsdorf,1953-10-31,Berlin,1880.0,1953.0

## Cleaning Step 4: Checking datatypes

In [31]:
data.dtypes

id                     int64
what                  object
Gender                object
Category              object
Activity              object
Context               object
Zipcode              float64
Street                object
Housenr               object
Location              object
District              object
made                 float64
material              object
Name                  object
Occupation            object
birthday      datetime64[ns]
birthplace            object
deathday      datetime64[ns]
deathplace            object
Birthyear            float64
deathyear            float64
dtype: object

In [32]:
# Zipcode:

In [33]:
data['Zipcode'].value_counts(dropna=False)

# Just 1 NaN, I fill it with 0

10117.0    131
10178.0     82
10115.0     54
10557.0     37
10179.0     31
10785.0     28
10559.0     23
13353.0     20
13357.0     14
13347.0     13
13355.0     12
10119.0     11
10787.0     10
10551.0     10
10555.0      9
13351.0      8
13359.0      7
10553.0      3
10435.0      3
13349.0      2
13409.0      1
NaN          1
13405.0      1
Name: Zipcode, dtype: int64

In [35]:
data['Zipcode'] = data['Zipcode'].replace(np.nan, 0)

In [36]:
data['Zipcode'] = data['Zipcode'].astype('int')

In [37]:
#deathyear:

In [38]:
data['deathyear'].value_counts(dropna=False)

# Due to the high numbers of Nans, I replace them with 0
# I do this under a new column (deathyear_nn), so I can still use the original column in the future (e.g. for mean)

NaN       239
1944.0     12
1961.0     12
1942.0     10
1943.0     10
         ...
1931.0      1
1721.0      1
1915.0      1
1858.0      1
1716.0      1
Name: deathyear, Length: 123, dtype: int64

In [39]:
data['deathyear'].mean()

1913.5294117647059

In [40]:
data['deathyear_nn'] = data['deathyear'].replace(np.nan, 0)

In [41]:
data['deathyear_nn'] = data['deathyear_nn'].astype('int')

In [42]:
#Birthyear:

In [43]:
data['Birthyear'].value_counts(dropna=False)

# Due to the high numbers of Nans, I replace them with 0
# I do this under a new column (Birthyear_nn), so I can still use the original column in the future (e.g. for mean)

NaN       233
1871.0     10
1879.0      5
1843.0      5
1894.0      5
         ...
1790.0      1
1738.0      1
1791.0      1
1889.0      1
1921.0      1
Name: Birthyear, Length: 141, dtype: int64

In [44]:
data['Birthyear'].mean()

1855.1079136690648

In [45]:
data['Birthyear_nn'] = data['Birthyear'].replace(np.nan, 0)

In [46]:
data['Birthyear_nn'] = data['Birthyear_nn'].astype('int')

In [47]:
#made:

In [48]:
data['made'].value_counts(dropna=False)

# Due to the high numbers of Nans, I replace them with 0
# I do this under a new column (made_nn), so I can still use the original column in the future (e.g. for mean)

NaN       238
2003.0     27
1998.0     21
2000.0     14
1997.0     14
1999.0     14
1995.0     13
2001.0     11
1994.0     10
2002.0     10
2011.0     10
1988.0      8
1989.0      8
2010.0      8
1996.0      7
1987.0      7
1990.0      7
2008.0      5
1991.0      5
2009.0      5
2005.0      5
2007.0      5
1993.0      4
1983.0      4
1992.0      4
2004.0      3
1952.0      3
1982.0      3
1980.0      2
1948.0      2
1986.0      2
1955.0      2
2012.0      2
1979.0      2
1908.0      2
2006.0      2
1951.0      2
1981.0      2
1978.0      2
1985.0      1
1871.0      1
1966.0      1
1968.0      1
1861.0      1
1935.0      1
1956.0      1
1865.0      1
1954.0      1
1870.0      1
1965.0      1
2013.0      1
1962.0      1
1957.0      1
1900.0      1
1974.0      1
Name: made, dtype: int64

In [49]:
data['made'].mean()

1992.1684981684982

In [50]:
data['made_nn'] = data['made'].replace(np.nan, 0)

In [51]:
data['made_nn'] = data['made_nn'].astype('int')

In [52]:
data.dtypes

id                       int64
what                    object
Gender                  object
Category                object
Activity                object
Context                 object
Zipcode                  int32
Street                  object
Housenr                 object
Location                object
District                object
made                   float64
material                object
Name                    object
Occupation              object
birthday        datetime64[ns]
birthplace              object
deathday        datetime64[ns]
deathplace              object
Birthyear              float64
deathyear              float64
deathyear_nn             int32
Birthyear_nn             int32
made_nn                  int32
dtype: object

## Cleaning Step 5: Dropping irrelevant columns (Round 2)

In [53]:
data.head()

,id,what,Gender,Category,Activity,Context,Zipcode,Street,Housenr,Location,...,Occupation,birthday,birthplace,deathday,deathplace,Birthyear,deathyear,deathyear_nn,Birthyear_nn,made_nn
0,512,NaN,f,Culture,Dancing_Acting_Directing,NS opponent_resistance,10785,Eichhornstraße,5 bis 6,"Eichhornstraße Ecke Alte Potsdamer Straße, Mar...",...,"Schauspielerin und Sängerin, NS-Gegnerin",1901-12-27,Schöneberg,1992-06-05,Paris,1901.0,1992.0,1992,1901,0
1,514,NaN,m,History,Politics,royal_prussian,10785,Potsdamer Straße,35,"Staatsbibliothek, vor dem Otto-Braun-Saal",...,"Politiker, preussischer Ministerpräsident",1872-01-28,Königsberg,1955-12-15,Schweiz,1872.0,1955.0,1955,1872,0
2,4,NaN,m,History,Politics,NS opponent_resistance,10117,Am Festungsgraben,1,Zwischen dem 2. und 3. Fenster links,...,"Politiker, Staatssekretär im Reichsfinanzmini...",1884-02-12,Leipzig,1945-02-02,Plötzensee,1884.0,1945.0,1945,1884,1994
3,517,NaN,m,Culture,Writing,NovemberRevolution_Weimar,10553,Rostocker Straße,32 b,Vorraum zur Bücherei,...,Journalist und Schriftsteller,1890-09-01,Berlin,1935-12-21,"Hindas, Schweden",1890.0,1935.0,1935,1890,0
4,6,NaN,m,History,Military_Police,NS opponent_resistance,10178,Oranienburger Straße,30,"Synagoge, zwischen 2 Fenstern, rechts der Syna...",...,preussischer Polizeibeamter,1880-09-12,Hornsdorf,1953-10-31,Berlin,1880.0,1953.0,1953,1880,1995

In [54]:
data = data.drop(['id','what','Zipcode','Street', 'Housenr', 'Location', 'Occupation'], axis=1)

In [55]:
data = data.drop(['birthday','deathday'], axis=1)

In [56]:
data.shape

(511, 15)

## Cleaning Step 6: dealing with the values of categorical columns

In [57]:
# Gender:

data['Gender'].value_counts(dropna=False)

m            272
no person    146
f             34
several       27
mf             7
mm             7
fm             3
ff             2
mmmm           2
mmm            2
soldiers       2
mfff           1
mff            1
mmmmm          1
mmf            1
fmmfmmmmm      1
soldierts      1
ffffff         1
Name: Gender, dtype: int64

In [58]:
def cleanGender(x):
    if x in ['m', 'soldiers', 'soldierts','mm','mmmm', 'mmm','mmmmm']:
        return 'm'
    elif x in ['f', 'ff', 'ffffff']:
        return 'f'
    elif x in ['no person']:
        return 'no person'
    elif x in ['several']:
        return 'unspecified'
    else:
        return 'groups of mixed gender'

data['Gender'] = list(map(cleanGender, data['Gender']))

In [59]:
data['Gender'].value_counts(dropna=False)

m                         287
no person                 146
f                          37
unspecified                27
groups of mixed gender     14
Name: Gender, dtype: int64

In [60]:
# Category:

data['Category'].value_counts(dropna=False)

History                    228
Building                    92
Culture                     80
Science and Research        57
Religion and Philosophy     33
Business                    19
Nature                       2
Name: Category, dtype: int64

In [61]:
data[data['Category'].isnull()]

Empty DataFrame
Columns: [Gender, Category, Activity, Context, District, made, material, Name, birthplace, deathplace, Birthyear, deathyear, deathyear_nn, Birthyear_nn, made_nn]
Index: []

In [62]:
data = data[data['Category'].isna()==False]

In [63]:
data['Category'].value_counts(dropna=False)

History                    228
Building                    92
Culture                     80
Science and Research        57
Religion and Philosophy     33
Business                    19
Nature                       2
Name: Category, dtype: int64

In [64]:
# Activity:

data['Activity'].value_counts(dropna=False)

Civilian                         86
Politics                         66
Writing                          39
Medical_Doctors_Hospital         29
Public_Place                     26
Business_Entrepreneur_Finance    24
Communism                        24
Military_Police                  20
Theologist_Priest                19
Science                          18
Civil Society Organisation       17
Singing_Composing_Musician       17
Administration                   16
Natural_Science                  12
Education_School                 11
Dancing_Acting_Directing         10
other_Research                   10
Synagogue_Cementary              10
Church                           10
Architecture                      9
Residential                       8
Liberal_Art                       8
Philosopher                       5
Infrastructure_Industrial         5
Rabbi_Judaist                     5
Chairman                          4
Embassy                           3
Name: Activity, dtype: int64

In [65]:
def cleanActivity(x):
    if x in ['Civilian']:
        return 'Civilian'
    elif x in ['Politics', 'Administration']:
        return 'Politics_Administration'
    elif x in ['Writing', 'Liberal_Art', 'Philosophy', 'Singing_Composing_Musician', 'Dancing_Acting_Directing']:
        return 'Creative_Arts'
    elif x in ['Medical_Doctors_Hospital']:
        return 'Medical'
    elif x in ['Public_Place', 'Embassy']:
        return 'PublicPlaces_Buildings'
    elif x in ['Chairman', 'Business_Entrepreneur_Finance']:
        return 'Chairman_Business_Finances'
    elif x in ['Communism']:
        return 'Socialists'
    elif x in ['Military_Police']:
        return 'Military_Police'
    elif x in ['Theologist_Priest', 'Church']:
        return 'Christian_Church'
    elif x in ['Science', 'other_Research', 'Natural_Science']:
        return 'Science_otherResearch'
    elif x in ['Civil Society Organisation']:
        return 'CivilSocietyOrganisation'
    elif x in ['Education_School']:
        return 'Education_School'
    elif x in ['Synagogue_Cementary', 'Rabbi_Judaist']:
        return 'Jewish_Synagogue'
    elif x in ['Architecture', 'Residential', 'Infrastructure_Industrial']:
        return 'Architecture'
    else:
        return 'other'

In [66]:
data['Activity'] = list(map(cleanActivity, data['Activity']))

In [67]:
data['Activity'].value_counts(dropna=False)

Civilian                      86
Politics_Administration       82
Creative_Arts                 74
Science_otherResearch         40
Medical                       29
PublicPlaces_Buildings        29
Christian_Church              29
Chairman_Business_Finances    28
Socialists                    24
Architecture                  22
Military_Police               20
CivilSocietyOrganisation      17
Jewish_Synagogue              15
Education_School              11
other                          5
Name: Activity, dtype: int64

In [68]:
# Context:

data['Context'].value_counts(dropna=False)

NaN                           228
NS persecuted_victimized       46
NS opponent_resistance         31
GDR_victim                     25
Jewish                         21
Foreign                        17
royal_prussian                 16
War_PoliticalViolence          15
Aufklärung_MarchRevolution     14
NovemberRevolution_Weimar      14
Wall_GermanUnity               12
christian                      11
social_policy                  11
GDR_flight                     11
worker's rights                 9
Sport                           8
GDR_GDR_personality             7
Art                             6
Pacificm                        3
NS_criminal                     3
LGBTQ                           2
Tschernobyl                     1
Name: Context, dtype: int64

In [69]:
data['Context'] = data['Context'].replace(np.nan, 'no_specific_context')

In [70]:
def cleanContext(x):
    if x in ['NS persecuted_victimized', 'NS opponent_resistance']:
        return 'NSresistance_persecuted'
    elif x in ['GDR_victim','GDR_flight']:
        return 'GDRflight_victim'
    elif x in ['Philosopher']:
        return 'Philosopher'
    elif x in ['no_specific_context']:
        return 'no_specific_context'
    elif x in ['Jewish']:
        return 'Jewish'
    elif x in ['Foreign']:
        return 'other_countries'
    elif x in ['royal_prussian', 'Aufklärung_MarchRevolution']:
        return 'Prussian_times'
    elif x in ['War_PoliticalViolence', 'Pacificm']:
        return 'AntiWar'
    elif x in ['NovemberRevolution_Weimar']:
        return 'NovemberRevolution_Weimar'
    elif x in ['Wall_GermanUnity']:
        return 'Wall_GermanUnity'
    elif x in ['social_policy',"worker's rights", 'LGBTQ']:
        return 'SocialPolicy_issues'
    elif x in ['GDR_GDR_personality']:
        return 'GDR_GDR_personality'
    else:
        return 'other'

In [71]:
data['Context'] = list(map(cleanContext, data['Context']))

In [72]:
data['Context'].value_counts(dropna=False)

no_specific_context          228
NSresistance_persecuted       77
GDRflight_victim              36
Prussian_times                30
other                         29
SocialPolicy_issues           22
Jewish                        21
AntiWar                       18
other_countries               17
NovemberRevolution_Weimar     14
Wall_GermanUnity              12
GDR_GDR_personality            7
Name: Context, dtype: int64

In [73]:
data.isna().sum()

Gender            0
Category          0
Activity          0
Context           0
District          0
made            238
material          1
Name            178
birthplace      238
deathplace      234
Birthyear       233
deathyear       239
deathyear_nn      0
Birthyear_nn      0
made_nn           0
dtype: int64

In [74]:
# Material:

data['material'].value_counts(dropna=False)

Bronze               141
Edelmetall           131
KPM                   54
Acrylglas             34
Stein                 31
Metall                23
Eisenguss             14
Mauerkreuz            14
Infokasten            11
Granit                10
Marmor                 9
Edelstahl              8
Messing                7
Kupfer                 3
Emaille                2
Metallguss             2
Wand                   2
Stahl                  2
Holz                   2
Porzellan              1
Kreuz                  1
Grabstein              1
Muschelkalkstein       1
NaN                    1
Pappe                  1
Informationstafel      1
Beton                  1
Schiefer               1
Glas                   1
Mauer                  1
Name: material, dtype: int64

In [75]:
data['material'] = data['material'].replace(np.nan, 'no_information')

In [76]:
def cleanMaterial(x):
    if x in ['Edelmetall', 'Metall', 'Metallguss', 'Edelstahl', 'Stahl']:
        return 'Metall_Stahl'
    elif x in ['Stein', 'Grabstein', 'Granit', 'Muschelkalkstein', 'Schiefer', 'Mauer', 'Marmor']:
        return 'Stein'
    elif x in ['Infokasten', 'Informationstafel']:
        return 'Infokasten'
    elif x in ['Bronze', 'Messing', 'Kupfer']:
        return 'Bronze, Messing, Kupfer'
    elif x in ['KPM', 'Porzellan']:
        return 'Porzellan'
    elif x in ['Acrylglas']:
        return 'Acrylglas'
    elif x in ['Mauerkreuz']:
        return 'Mauerkreuz'
    else:
        return 'other'

data['material'] = list(map(cleanMaterial, data['material']))

In [77]:
data['material'].value_counts(dropna=False)

Metall_Stahl               166
Bronze, Messing, Kupfer    151
Porzellan                   55
Stein                       54
Acrylglas                   34
other                       25
Mauerkreuz                  14
Infokasten                  12
Name: material, dtype: int64

In [78]:
data.head()

,Gender,Category,Activity,Context,District,made,material,Name,birthplace,deathplace,Birthyear,deathyear,deathyear_nn,Birthyear_nn,made_nn
0,f,Culture,Creative_Arts,NSresistance_persecuted,Tiergarten,NaN,Metall_Stahl,Marlene Dietrich,Schöneberg,Paris,1901.0,1992.0,1992,1901,0
1,m,History,Politics_Administration,Prussian_times,Tiergarten,NaN,"Bronze, Messing, Kupfer",Otto Braun,Königsberg,Schweiz,1872.0,1955.0,1955,1872,0
2,m,History,Politics_Administration,NSresistance_persecuted,Mitte,1994.0,Porzellan,Johannes Popitz,Leipzig,Plötzensee,1884.0,1945.0,1945,1884,1994
3,m,Culture,Creative_Arts,NovemberRevolution_Weimar,Moabit,NaN,"Bronze, Messing, Kupfer",Kurt Tucholsky,Berlin,"Hindas, Schweden",1890.0,1935.0,1935,1890,0
4,m,History,Military_Police,NSresistance_persecuted,Mitte,1995.0,"Bronze, Messing, Kupfer",Wilhelm Krützfeld,Hornsdorf,Berlin,1880.0,1953.0,1953,1880,1995

In [79]:
# birthplace:

data['birthplace'].value_counts(dropna=False)

NaN                              219
 Berlin                           62
None                              19
 Breslau                           9
 Leipzig                           6
                                ...
 Allenstein, Ostpreußen            1
 Köln                              1
 Guben                             1
 Mönchmotschelnitz, Schlesien      1
 Prischt, Ukraine                  1
Name: birthplace, Length: 161, dtype: int64

In [80]:
data['birthplace'] = data['birthplace'].replace(np.nan, 'no_information')

In [81]:
data[data['birthplace'].str.contains('Leipzig')]

,Gender,Category,Activity,Context,District,made,material,Name,birthplace,deathplace,Birthyear,deathyear,deathyear_nn,Birthyear_nn,made_nn
2,m,History,Politics_Administration,NSresistance_persecuted,Mitte,1994.0,Porzellan,Johannes Popitz,Leipzig,Plötzensee,1884.0,1945.0,1945,1884,1994
79,m,History,Socialists,NovemberRevolution_Weimar,Tiergarten,2003.0,Acrylglas,Karl Liebknecht,Leipzig,Berlin,1871.0,1919.0,1919,1871,2003
258,m,History,Socialists,NovemberRevolution_Weimar,Mitte,1988.0,Metall_Stahl,Karl Liebknecht,Leipzig,Berlin,1871.0,1919.0,1919,1871,1988
294,m,History,Socialists,NovemberRevolution_Weimar,Tiergarten,NaN,Stein,Karl Liebknecht,Leipzig,Berlin,1871.0,1919.0,1919,1871,0
307,groups of mixed gender,History,Socialists,NovemberRevolution_Weimar,Tiergarten,NaN,"Bronze, Messing, Kupfer","Rosa Luxemburg, Karl Liebknecht","Zamosc, Polen; 13.08.1871, Leipzig","Berlin; 15.01.1919, Berlin",1871.0,1919.0,1919,1871,0
397,groups of mixed gender,History,Socialists,NovemberRevolution_Weimar,Tiergarten,2010.0,Metall_Stahl,"Rosa Luxemburg, Karl Liebknecht","Zamosc, Polen; 13.08.1871, Leipzig","Berlin; 15.01.1919, Berlin",1871.0,1919.0,1919,1871,2010
503,m,Religion and Philosophy,other,no_specific_context,Mitte,1990.0,"Bronze, Messing, Kupfer",Gottfried Wilhelm Leibniz,Leipzig,Hannover,NaN,1716.0,1716,0,1990
506,no person,History,Socialists,NSresistance_persecuted,Mitte,NaN,"Bronze, Messing, Kupfer",NaN,Leipzig,Berlin,1871.0,1919.0,1919,1871,0

In [82]:
def cleanBirthplace(x):
    if 'Berlin' in x:
        return 'Berlin'
    elif 'Leipzig' in x:
        return 'Leipzig'
    elif 'Potsdam' in x:
        return 'Potsdam'
    elif 'Breslau' in x:
        return 'Breslau'
    elif 'no_information' in x:
        return 'no_information'
    else:
        return 'other'

In [83]:
data['birthplace'] = list(map(cleanBirthplace, data['birthplace']))

In [84]:
data['birthplace'].value_counts(dropna=False)

no_information    238
other             187
Berlin             64
Breslau             9
Leipzig             8
Potsdam             5
Name: birthplace, dtype: int64

In [85]:
# deathplace:

data['deathplace'].value_counts(dropna=False)

NaN                                222
 Berlin                            156
None                                12
 Baden-Baden                         5
 Berlin-Plötzensee                   5
                                  ...
 Köln                                1
 KZ Sachsenhausen                    1
 Gräfenberg; 05.05.1927, Berlin      1
 Zandvoort, Niederlande              1
 Hannover                            1
Name: deathplace, Length: 93, dtype: int64

In [86]:
data['deathplace'] = data['deathplace'].replace(np.nan, 'no_information')

In [87]:
data['deathplace'].unique()

array([' Paris', ' Schweiz', ' Plötzensee', ' Hindas, Schweden',
       ' Berlin', ' Jerusalem/Tel Aviv', ' KZ Auschwitz-Birkenau',
       'no_information', ' Zuchthaus Halle/Saale', ' Ukraine',
       ' Cappenburg, Westfalen', ' Zuchthaus Brandenburg', ' Plön',
       ' Kopenhagen', ' Forst Rosenow bei Gadebusch',
       ' Dresden; 08.03.1841, Dresden', ' Baden-Baden',
       ' Berlin-Plötzensee', ' Berlin; 06.05.1971, Berlin', ' Lüneburg',
       ' Auschwitz-Birkenau', ' Avegno, Schweiz', ' Bonn', ' Schöneberg',
       ' KZ Buchenwald', ' Stockholm', ' Kemerowo, Russland', ' Genf',
       ' Bad Honnef', ' Dresden', ' KZ Mauthausen',
       ' Zandvoort, Niederlande', ' Gräfenberg; 05.05.1927, Berlin',
       ' KZ Sachsenhausen', ' Köln', ' Zuchthaus Brandenburg-Görden',
       ' Berlin-Plötzensee; 08.04.1943, Berlin-', ' Manila', ' Gstaad',
       ' Berlin; 04.02.1988, Berlin', ' Charlottenburg', ' SobibÃ³r',
       ' Rüdersdorf', ' New York', ' Wien',
       ' KZ Auschwitz; unbekannt, KZ Auschwitz', ' Redding, Connecticut',
       ' Armonk, New York', ' Princeton, New Jersey', ' Sankt Petersburg',
       ' Petershagen bei Berlin', ' Schlangenbad', ' unbekannt',
       ' Zürich', ' Stolper Loch- Kl. Wannsee', ' Grönland',
       ' Braunschweig', ' KZ Dachau',
       ' Zibelle, Oberlausitz; 03.09.1942, Berlin',
       ' Flossenbürg, Bayern', ' Göttingen', ' Scy-Chazelles, Frankreich',
       ' Rostow am Don', ' Göttingen; 27.10.1968, Cambridge',
       ' Grünheide', ' Hirschluch/Storkow', ' Steglitz', ' Lübben',
       ' Nizza', ' Auschwitz', ' Le Perreux-sur-Marne',
       ' NovemberRevolution_Weimar', ' Unterrenthendorf',
       ' Memphis, Tennessee', ' Potsdam', ' Berlin; 15.01.1919, Berlin',
       ' Hamburg', ' Hennigsdorf', ' Leipzig', ' Prenzlau',
       ' Lübben; 23.02.1662, Berlin',
       ' Berlin; 08.01.1811, Berlin; 01.07.1784, Berlin',
       ' Schloss Crottorf, Rheinland-Pfalz', ' Theresienstadt', ' London',
       ' Hof', ' Bernried', ' Leipzig; 14.05.1847, Berlin', ' Hünfeld',
       '08.1969, Chicago', ' Berlin Plötzensee', ' Hannover'],
      dtype=object)

In [88]:
#data[data['deathplace'].str.contains('KZ')]
#data[data['deathplace'].str.contains('Zuchthaus')]
#data[data['deathplace'].str.contains('Theresienstadt')]
#data[data['deathplace'].str.contains('Plötzensee')]
#data[data['deathplace'].str.contains('Ukraine')]
#data[data['deathplace'].str.contains('Russland')]
#data[data['deathplace'].str.contains('Gstaad')]
data[data['deathplace'].str.contains('Sankt Petersburg')]

,Gender,Category,Activity,Context,District,made,material,Name,birthplace,deathplace,Birthyear,deathyear,deathyear_nn,Birthyear_nn,made_nn
155,m,Science and Research,Science_otherResearch,no_specific_context,Mitte,NaN,Metall_Stahl,Leonhard Euler,other,Sankt Petersburg,1707.0,1783.0,1783,1707,0

In [89]:
Berlinlist = [ 'Berlin', 'Wannsee', 'Steglitz', 'Schöneberg', 'Henningsdorf']

for x in Berlinlist:
    data.loc[data['deathplace'].str.contains(x), 'deathplace'] = 'Berlin'

In [90]:
NScapture=['KZ', 'Zuchthaus', 'Plötzensee', 'Theresienstadt', 'Auschwitz', 'Ukraine']

for x in NScapture:
    data.loc[data['deathplace'].str.contains(x), 'deathplace'] = 'KZ or NS_capture'

In [91]:
Foreign=['Paris', 'Schweiz', 'Schweden', 'Jerusalem', 'Kopenhagen', 'Stockholm', 'Genf', 'Russland', 'Manila', 'Gstaad', 'Connecticut', 'Wien', 'New York', 'New Jersey', 'Sankt Petersburg', 'Grönland', 'Zürich', 'Frankreich', 'Cambridge', 'Memphis', 'London']

for x in Foreign:
    data.loc[data['deathplace'].str.contains(x), 'deathplace'] = 'outside Germany'

In [92]:
def cleanDeathplace(x):
    if 'Berlin' in x:
        return 'Berlin'
    elif 'KZ or NS_capture' in x:
        return 'KZ or NS_capture'
    elif 'outside Germany' in x:
        return 'outside Germany'
    elif 'Baden-Baden' in x:
        return 'Baden-Baden'
    elif 'no_information' in x:
        return 'no_information'
    else:
        return 'other in Germany'

In [93]:
data['deathplace'] = list(map(cleanDeathplace, data['deathplace']))

In [94]:
data['deathplace'].value_counts(dropna=False)

no_information      234
Berlin              176
other in Germany     42
outside Germany      34
KZ or NS_capture     20
Baden-Baden           5
Name: deathplace, dtype: int64

In [95]:
# Name:

data['Name'].value_counts(dropna=False)

NaN                                        178
Günter Litfin                                4
Robert Koch                                  4
Alexander von Humboldt                       3
Albert Einstein                              3
                                          ...
Ernst Kaeber                                 1
Walter Kollo und Willi Kollo                 1
Rahel Varnhagen von Ense                     1
Herrmann Ludwig Ferdinand von Helmholtz      1
Gottfried Wilhelm Leibniz                    1
Name: Name, Length: 301, dtype: int64

In [96]:
data['Name'] = data['Name'].replace(np.nan, 'no_Name')

In [97]:
# I cannot reduce the categories in 'Name' - I will work with two different dataframes later:
# One with Names and the NaNs in numerical columns in order to show means or max of mentioned Names (data1)
# The other one cleaned and without Name in order to work with distribution models (data2)

## Cleaning Step 7: Unify the column names

In [98]:
data = data.rename(columns={'Name':'Name','Gender':'Gender', 'Birthyear':'Birthyear', 'Birthyear_nn':'Birthyear_nn', 'deathyear':'Deathyear', 'deathyear_nn':'Deathyear_nn', 'birthplace':'Birthplace','deathplace':'Deathplace', 'Category':'Category', 'Activity':'Activity', 'Context':'Context', 'made':'Made', 'made_nn':'Made_nn', 'material':'Material'})

In [99]:
data.head()

,Gender,Category,Activity,Context,District,Made,Material,Name,Birthplace,Deathplace,Birthyear,Deathyear,Deathyear_nn,Birthyear_nn,Made_nn
0,f,Culture,Creative_Arts,NSresistance_persecuted,Tiergarten,NaN,Metall_Stahl,Marlene Dietrich,other,outside Germany,1901.0,1992.0,1992,1901,0
1,m,History,Politics_Administration,Prussian_times,Tiergarten,NaN,"Bronze, Messing, Kupfer",Otto Braun,other,outside Germany,1872.0,1955.0,1955,1872,0
2,m,History,Politics_Administration,NSresistance_persecuted,Mitte,1994.0,Porzellan,Johannes Popitz,Leipzig,KZ or NS_capture,1884.0,1945.0,1945,1884,1994
3,m,Culture,Creative_Arts,NovemberRevolution_Weimar,Moabit,NaN,"Bronze, Messing, Kupfer",Kurt Tucholsky,Berlin,outside Germany,1890.0,1935.0,1935,1890,0
4,m,History,Military_Police,NSresistance_persecuted,Mitte,1995.0,"Bronze, Messing, Kupfer",Wilhelm Krützfeld,other,Berlin,1880.0,1953.0,1953,1880,1995

In [100]:
data.shape

(511, 15)

## Cleaning Step 9: Create two different df

In [101]:
# Reminder:

# I create 2 different df in order to work with them in two different ways:
# data1: contains 'Name' and the NaNs in numerical columns in order to show means or max of mentioned Names
# data2: contains the cleaned columns without 'Name' and without the NaNs in numerical columns in order to work with distribution model

In [102]:
data1 = data.drop(['Deathyear_nn','Birthyear_nn','Made_nn'],axis=1)

In [103]:
data1.head()
#data1.shape

,Gender,Category,Activity,Context,District,Made,Material,Name,Birthplace,Deathplace,Birthyear,Deathyear
0,f,Culture,Creative_Arts,NSresistance_persecuted,Tiergarten,NaN,Metall_Stahl,Marlene Dietrich,other,outside Germany,1901.0,1992.0
1,m,History,Politics_Administration,Prussian_times,Tiergarten,NaN,"Bronze, Messing, Kupfer",Otto Braun,other,outside Germany,1872.0,1955.0
2,m,History,Politics_Administration,NSresistance_persecuted,Mitte,1994.0,Porzellan,Johannes Popitz,Leipzig,KZ or NS_capture,1884.0,1945.0
3,m,Culture,Creative_Arts,NovemberRevolution_Weimar,Moabit,NaN,"Bronze, Messing, Kupfer",Kurt Tucholsky,Berlin,outside Germany,1890.0,1935.0
4,m,History,Military_Police,NSresistance_persecuted,Mitte,1995.0,"Bronze, Messing, Kupfer",Wilhelm Krützfeld,other,Berlin,1880.0,1953.0

In [104]:
data2 = data.drop(['Deathyear','Birthyear','Made','Name'],axis=1)

In [105]:
data2.head()
#data2.shape

,Gender,Category,Activity,Context,District,Material,Birthplace,Deathplace,Deathyear_nn,Birthyear_nn,Made_nn
0,f,Culture,Creative_Arts,NSresistance_persecuted,Tiergarten,Metall_Stahl,other,outside Germany,1992,1901,0
1,m,History,Politics_Administration,Prussian_times,Tiergarten,"Bronze, Messing, Kupfer",other,outside Germany,1955,1872,0
2,m,History,Politics_Administration,NSresistance_persecuted,Mitte,Porzellan,Leipzig,KZ or NS_capture,1945,1884,1994
3,m,Culture,Creative_Arts,NovemberRevolution_Weimar,Moabit,"Bronze, Messing, Kupfer",Berlin,outside Germany,1935,1890,0
4,m,History,Military_Police,NSresistance_persecuted,Mitte,"Bronze, Messing, Kupfer",other,Berlin,1953,1880,1995

## Cleaning Step 10: Saving data1 and data2 in .csv and SQL

In [106]:
data1.to_csv('Gedenktafeln_Mitte_data1.csv', index=False)

In [107]:
data1.to_excel('Gedenktafeln_Mitte_data1.xlsx', index=False)

In [108]:
data2.to_csv('Gedenktafeln_Mitte_data2.csv', index=False)

In [109]:
data2.to_excel('Gedenktafeln_Mitte_data2.xlsx', index=False)

In [115]:
import mysql.connector as msql
from mysql.connector import Error

In [125]:
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE Gedenktafel_BMitte")
        print("Gedenktafel_BMitte database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Gedenktafel_BMitte database is created

In [134]:
import csv
from sqlalchemy import create_engine
import pymysql

In [135]:
!pip3 install mysqlclient

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysqlclient in c:\users\nadine kleine\appdata\roaming\python\python39\site-packages (2.1.1)

In [150]:
my_conn = create_engine("mysql+mysqldb://root:'password'@localhost/Gedenktafel_BMitte")

In [151]:
data1.to_sql(con=my_conn,name='data1',if_exists='replace', index=False)

511

In [152]:
data2.to_sql(con=my_conn,name='data2',if_exists='replace', index=False)

511